# {{@@ header() @@}}
PATH={{@@ ordered_path() @@}}

#minute hour day month day_week cmd
*/5     *    *   *     *        forecast   json
*/5     *    *   *     *        checkmail  update
*       */5  *   *     *        vdirsyncer sync

# vim: commentstring=#\ %s
