# {{@@ header() @@}}
PATH={{@@ env['PATH'] @@}}

# {%@@ if env['USER'] != 'root' @@%} #
#minute hour day month day_week cmd
*/30    *    *   *     *        forecast   json
*/5     *    *   *     *        checkmail  update
*/5     *    *   *     *        vdirsyncer sync
*       0    *   *     *        yes | vdirsyncer discover
*/30    *    *   *     *        savegame_backup
*/30    *    *   *     *        _gpg-unlock
# {%@@ endif @@%} #

# vim: commentstring=#\ %s
