# {{ header() }}

[Unit]
Description=Wayland equivalent of autorandr.
Documentation=https://sr.ht/~emersion/kanshi/
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/kanshi
Restart=always
StartLimitBurst=2
StartLimitInterval=1

[Install]
WantedBy=sway-session.target
