# {{ header() }}

[Unit]
Description= Lightweight notification daemon for Wayland compositors.
Documentation=https://github.com/emersion/mako/wiki
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/mako
Restart=always
StartLimitBurst=2
StartLimitInterval=1

[Install]
WantedBy=sway-session.target
