# {{ header() }}

[Unit]
Description= Send notification when maildir gets modified
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/bin/env _notify-mail

[Install]
WantedBy=sway-session.target
