# {{ header() }}

[Unit]
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/telegram-desktop
Restart=always

[Install]
WantedBy=sway-session.target
