code

mpd/.config/mpd/database
mpd/.config/mpd/pid
mpd/.config/mpd/state
neomutt/.config/neomutt/password.gpg
nvim/.config/nvim/autoload/
nvim/.config/nvim/plugged/
theme/.config/gtk-3.0/bookmarks

qutebrowser/**
!qutebrowser/.config/qutebrowser/config.py
!qutebrowser/.local/share/qutebrowser/greasemonkey/youtube-ad.js
!qutebrowser/.local/share/qutebrowser/userscripts/readability

fish/
!fish/.config/fish/config.fish

emacs/.emacs.d
!emacs/.emacs.d/init.el

neomutt/.gnupg/
!neomutt/.gnupg/gpg-agent.conf
