[Desktop Entry]
Name=Any Browser
Comment=A list of web browsers to try out
Icon=qutebrowser
Type=Application
Categories=Network;WebBrowser;
Exec=any-browser %u
Terminal=false
StartupNotify=true
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/rdf+xml;image/gif;image/jpeg;image/png;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/qute;
Keywords=Browser
