* {
    font: 14px Inter;
    font-weight:bold;
    border-radius:0;
    margin:0;
    padding: 0;
    transition-duration:0;
}

window#waybar {
    background-color: #202020;
    border-bottom: 2px solid #191919;
}

window#waybar.empty {
    background-color: transparent;
    border:none;
}

#workspaces button {
    background-color: transparent;
    border: 3px solid transparent;
    color: #aaaaaa;
}

#workspaces button.focused {
    border-top: 3px solid #cc5757;
    border-bottom: 3px solid transparent;
    color: #ffffff;
}

#workspaces button.urgent {
    border-top: 3px solid #eb4deb;
}

/*Window Title*/
#window{
    color:#aaa;
    margin:0 4px;
}

#mpd,
#tray,
#clock,
#network,
#battery,
#backlight,
#pulseaudio,
#custom-mail,
#custom-updates,
#custom-weather
{
    margin: 0 7px;
    color: #ffffff;
    opacity:.7;
}

#custom-weather,
#clock
{
    font-size:15px;
}

#mpd,
#window,
#workspaces
{
    font-weight:normal;
}


#custom-recording {
    color: #ee4040;
}

#mpd.paused {
    font-size: 0;
    border: none;
}
