/* {{@@ header() @@}}
  ___        _       _
 / _ \ _   _| |_ ___| |__  _ __ _____      _____  ___ _ __
| | | | | | | __/ _ \ '_ \| '__/ _ \ \ /\ / / __|/ _ \ '__|
| |_| | |_| | ||  __/ |_) | | | (_) \ V  V /\__ \  __/ |
 \__\_\\__,_|\__\___|_.__/|_|  \___/ \_/\_/ |___/\___|_|
*/

/*{%@@ if color.type == "dark" @@%}*/

button,
input[type="button"] {
    color: unset;
    background-color: unset;
}

/***************************
 * Remove borked ellements *
 ***************************/

.search-filters-wrap:before, .search-filters-wrap:after {

    display: none;
}

/*{%@@ endif @@%}*/


/*****************
 * Hide some ads *
 *****************/

/*Reddit*/
#sr-header-area .redesign-beta-optin,
.link.promotedlink.promoted,
.spacer:empty,
.spacer .premium-banner-outer,
.ad-container,

/*Youtube*/
div#masthead-ad ,
.video-ads,
#player-ads,
ytd-popup-container {
    display: none !important;
}
